.nav{
    text-align: center;
    min-width: 150px;
    height: 64px;
    line-height: 64px;
}
.link{
    text-decoration: none; 
    color:white;
    font-size: 20px;
}
.title{ 
    font-size: 30px;
}

.sticky{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 1;
}

.searchInput{
    position: fixed;
    right: 50px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.advanceSearchLink{
    font-size: 12px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    line-height: 14px;
}
.advancedSearch{height: 800px; width: 20%; background-color: #c2185b; }
.advanceSearchInput{margin-left: calc(50% - 80px); margin-top: 50px; text-align: center;}
.advanceSearchButton{margin-top: 50px; margin-left: calc(50% - 31px); }

