<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-card class="card">
    <mat-card-title> Sign Up For an Account </mat-card-title>
   
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input  formControlName ="username" matInput placeholder="Username">
        <!-- <mat-error *ngIf="username.getErrorMessage.required">Username is required</mat-error> -->
    </mat-form-field>
   
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName ="password" type="password" matInput placeholder="Password">
        <mat-hint>Password must be at least 8 characters</mat-hint>
        <!-- <mat-error *ngIf="password.getErrorMessage.required">Password is required</mat-error> -->
    </mat-form-field>
   
    <mat-form-field>
        <mat-label>Repeat Password</mat-label>
        <input formControlName ="passwordRepeat" type="password" matInput  placeholder="Repeat Password">
    </mat-form-field>
   
    <mat-form-field>
        <mat-label>E-mail address</mat-label>
        <input formControlName ="email" type="email" matInput placeholder="E-mail address">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm E-mail address</mat-label>
        <input formControlName ="emailConfirm" type="email" matInput placeholder="Confirm E-mail address">
    </mat-form-field>
    
    <div class="buttodiv">
      <button type="submit" class="buttoncenter" color="primary" (click)="register()">Register</button>
     </div>
   
</mat-card>
</form>