<mat-card class="card">
    <mat-card-title> Sign Up For an Account </mat-card-title>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput required placeholder="Username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput required placeholder="Password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Repeat Password</mat-label>
        <input matInput required placeholder="Repeat Password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>E-mail address</mat-label>
        <input matInput required placeholder="E-mail address">
    </mat-form-field>
    <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Select your Birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <div class="buttodiv">
      <button mat-fab class="buttoncenter" color="primary">Register</button>
     </div>
</mat-card>