<!-- <form [formGroup="signupForm"]> -->
    <mat-card class="card">
    <mat-card-title> Sign Up For an Account </mat-card-title>
   
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" [(ngModel)]="username" matInput required placeholder="Username">
        
        <mat-error *ngIf="hasError('username', 'required')">Name is required</mat-error>
    </mat-form-field>
   
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" [(ngModel)]="password" type="password" matInput required placeholder="Password">
        <mat-hint>Password must be at least 8 characters</mat-hint>
    </mat-form-field>
   
    <mat-form-field>
        <mat-label>Repeat Password</mat-label>
        <input formControlName="passwordRepeat" [(ngModel)]="passwordRepeat" type="password" matInput required placeholder="Repeat Password">
    </mat-form-field>
   
    <mat-form-field>
        <mat-label>E-mail address</mat-label>
        <input formControlName="email"[(ngModel)]="email" type="email" matInput required placeholder="E-mail address">
    </mat-form-field>
<!-- </form> -->
    <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Select your Birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <div class="buttodiv">
      <button mat-fab class="buttoncenter" color="primary" (click)="register()">Register</button>
     </div>
</mat-card>