<div class = "body">
  <div class="outputField" *ngFor = "let song of searchOutput" ng-controller="myCtrl">
    <div style="margin-left: 10px;">
      <div class = subContainer>

    - <button (click)="addSong(song.id,song.title, song.artist.name,song.album.title,song.preview, song.album.cover)">add to favorites</button>

        <p>Song:    {{song.title}}</p>
        <p>Artist:  {{song.artist.name}}</p>
        <p>Album:   {{song.album.title}}</p> 
      </div>

        <audio controls mat-fab color="primary" style="margin-bottom: 5px;">Play Sample
          <source [src]="song.preview" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>

      </div>
  
      
    <img class="albumCover" [src]="song.album.cover">

  </div>  
</div>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="advancedSearch">

<input class="advanceSearchInput" type="text" placeholder="Artist">

<input class="advanceSearchInput" type="text" placeholder="Song Title">

<input class="advanceSearchInput" type="text" placeholder="Album">

<button class="advanceSearchButton">Search!</button>

</div>